In [1]:
# imports and env't config 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import json
import requests 
from imp import reload 
import Util as util; reload(util)
from pygeocoder import Geocoder as gc
import warnings
from pygeolib import GeocoderError
import time 

import Cdf
import Pmf
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
apr = pd.read_csv('../dataset/monroe_weblar_merged_201804.csv', sep = ',', encoding = "ISO-8859-1")
jul = pd.read_csv('../dataset/monroe_weblar_merged_201807.csv', sep = ',', encoding = "ISO-8859-1")
apr['atf'] = -1
apr['tlsHandshake'] = -1

frames = [apr, jul]
df = pd.concat(frames, ignore_index =  True)

df = df[df['operator'] != 'ice.net']
df = df[df['operator'] != 'Telenor']
df['operator'] = df['operator'].apply(lambda x: util.change_op_cc(x))
# df = df[df['url'] != 'https://www.ebay.com/']
# df = df[df['url'] != 'https://www.amazon.com/']
# df['url'] = df['url'].apply(lambda x: util.get_base_url_name(x))
# df['is_mobile'] = df['node_id'].apply(lambda x: util.is_from_mobile(x))

In [3]:
set(df['url'])

{'http://www.bbc.com/',
 'https://en.wikipedia.org/wiki/Alan_Turing',
 'https://news.google.com/',
 'https://www.amazon.com/',
 'https://www.ebay.com/',
 'https://www.facebook.com/places/Things-to-do-in-Paris-France/110774245616525/',
 'https://www.microsoft.com/',
 'https://www.reddit.com/',
 'https://www.yahoo.com/',
 'https://www.youtube.com/'}

## Dataset profiling

In [4]:
for op in set(df['operator']):
    print("%s : %d " %(str(op), df[df['operator'] == op]['measurement_id'].count()))

Misc : 69
SE_r : 822
SE_1 : 2505
NO_1 : 2576
NO_2 : 4392
SE_2 : 1971
SE_3 : 1892
NO_3 : 4130

In [5]:
len(set(df['node_id']))

128

In [6]:
for n in set(df['node_id']): 
    if len(set(df[df['node_id'] == n]['measurement_id']))  <=10:
        print("%d : %d" %(n, len(set(df[df['node_id'] == n]['measurement_id'])) ))

372 : 2
375 : 9
382 : 5
407 : 7
409 : 9
414 : 8
415 : 10
422 : 7
423 : 1
427 : 4
434 : 10
437 : 5
449 : 10
451 : 6
477 : 9
502 : 6
506 : 1
510 : 3

In [7]:
df_mobile = df[df['node_id'].isin(util.all_mobile)]
df_stationary = df[~df['node_id'].isin(util.all_mobile)] #isnot in
df_no_mobile = df[df['node_id'].isin(util.no_mobile)]
df_se_mobile = df[df['node_id'].isin(util.se_mobile)]
df_no_stationary = df[df['node_id'].isin(util.no_stationary)]
df_se_stationary = df[df['node_id'].isin(util.se_stationary)]

In [8]:
len(df_se_stationary.index)

5886

In [9]:
print("Data points from Mobile nodes: %d" %df_mobile['measurement_id'].count())
print("Data points from stationary nodes: %d" %df_stationary['measurement_id'].count())
print("Total Data points: %d" %df['measurement_id'].count())

Data points from Mobile nodes: 6770
Data points from stationary nodes: 11587
Total Data points: 18357

In [10]:
## Roaming Telia S
telia_s_roaming = [357, 358, 363]
print("Data points from Telia S Roaming: %d" %df[df['node_id'].isin(telia_s_roaming)]['measurement_id'].count())

Data points from Telia S Roaming: 510

In [11]:
len(set(df_stationary['node_id']))

56

In [12]:
print("Data points from Norway - Stationary: %d" %df[df['node_id'].isin(util.no_stationary)]['measurement_id'].count())
print("Data points from Sweden - Stationary: %d" %df[df['node_id'].isin(util.se_stationary)]['measurement_id'].count())
print("Data points from Norway - Mobile: %d" %df[df['node_id'].isin(util.no_mobile)]['measurement_id'].count())
print("Data points from Sweden - Mobile: %d" %df[df['node_id'].isin(util.se_mobile)]['measurement_id'].count())

Data points from Norway - Stationary: 5701
Data points from Sweden - Stationary: 5886
Data points from Norway - Mobile: 6271
Data points from Sweden - Mobile: 499

In [13]:
print("\\toprule \n \t \\multicolumn{1}{c|}{Country} & \\multicolumn{1}{c|}{Operator} \
        & \n \t \\multicolumn{2}{c|}{\\# Measurements} & \\multicolumn{2}{c|}{\\# Nodes} \\\\  \
        \n \t {} & {} & Mobile  & Stationary & Mobile & Stationary \\\\")
print("\\midrule")

print("\t\multirow{4}{*}{Norway} & Telia N & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'Telia N']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'Telia N']['measurement_id'].count(),
        len(set(df_no_mobile[df_no_mobile['operator'] == 'Telia N']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'Telia N']['node_id'])))
        )
print("\t\t  & TELIA S & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'TELIA S']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'TELIA S']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'TELIA S']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'TELIA S']['node_id'])))
        )
print("\t\t  & N Telenor & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'N Telenor']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'N Telenor']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'N Telenor']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'N Telenor']['node_id'])))
        )
print("\t\t  & 242 14 & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == '242 14']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == '242 14']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == '242 14']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == '242 14']['node_id'])))
        )
print("\t\t  & NetCom & %d & %d  & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'NetCom']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'NetCom']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'NetCom']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'NetCom']['node_id'])))
        )

print("\\midrule")
print("\t\multirow{3}{*}{Sweden} & Telenor SE & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == 'Telenor SE']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == 'Telenor SE']['measurement_id'].count(),
       len(set(df_se_mobile[df_se_mobile['operator'] == 'Telenor SE']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == 'Telenor SE']['node_id'])))
        )
print("\t\t  & Telia & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == 'Telia']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == 'Telia']['measurement_id'].count(),
        len(set(df_se_mobile[df_se_mobile['operator'] == 'Telia']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == 'Telia']['node_id'])))
        )
print("\t\t  & 3 & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == '3']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == '3']['measurement_id'].count(),
        len(set(df_se_mobile[df_se_mobile['operator'] == '3']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == '3']['node_id'])))
        )

\toprule
 	 \multicolumn{1}{c|}{Country} & \multicolumn{1}{c|}{Operator}         &
 	 \multicolumn{2}{c|}{\# Measurements} & \multicolumn{2}{c|}{\# Nodes} \\
 	 {} & {} & Mobile  & Stationary & Mobile & Stationary \\
\midrule
	\multirow{4}{*}{Norway} & Telia N & 0 & 0 & 0 & 0 \\
		  & TELIA S & 0 & 0 & 0 & 0 \\
		  & N Telenor & 0 & 0 & 0 & 0 \\
		  & 242 14 & 0 & 0 & 0 & 0 \\
		  & NetCom & 0 & 0  & 0 & 0 \\
\midrule
	\multirow{3}{*}{Sweden} & Telenor SE & 0 & 0 & 0 & 0 \\
		  & Telia & 0 & 0 & 0 & 0 \\
		  & 3 & 0 & 0 & 0 & 0 \\

In [14]:
for u in set(df['url']):
    print("%s :  %d" %(u, len(df[df['url'] == u]['measurement_id'])))

https://www.amazon.com/ :  64
https://www.microsoft.com/ :  3021
https://en.wikipedia.org/wiki/Alan_Turing :  3096
https://news.google.com/ :  3315
http://www.bbc.com/ :  2929
https://www.reddit.com/ :  2246
https://www.ebay.com/ :  29
https://www.youtube.com/ :  1044
https://www.yahoo.com/ :  1437
https://www.facebook.com/places/Things-to-do-in-Paris-France/110774245616525/ :  1176

In [15]:
# df['operator'] = df['operator'].apply(lambda x: util.change_op_cc(x))
# df_mobile = df[df['node_id'].isin(util.all_mobile)]
# df_stationary = df[~df['node_id'].isin(util.all_mobile)] #isnot in
# df_no_mobile = df[df['node_id'].isin(util.no_mobile)]
# df_se_mobile = df[df['node_id'].isin(util.se_mobile)]
# df_no_stationary = df[df['node_id'].isin(util.no_stationary)]
# df_se_stationary = df[df['node_id'].isin(util.se_stationary)]

In [16]:
set(df['operator'])

{'Misc', 'NO_1', 'NO_2', 'NO_3', 'SE_1', 'SE_2', 'SE_3', 'SE_r'}

In [17]:
for o in set(df['operator']):
    print("%s :   %d" \
          %(o, len(set(df[df['operator'] == o]['node_id']))))
print("Total: {}".format(len(set(df['node_id']))))

Misc :   2
SE_r :   9
SE_1 :   32
NO_1 :   22
NO_2 :   31
SE_2 :   30
SE_3 :   30
NO_3 :   29
Total: 128

In [18]:
print("\\toprule \n \t \\multicolumn{1}{c|}{Country} & \\multicolumn{1}{c|}{Operator} \
        & \n \t \\multicolumn{2}{c|}{\\# Measurements} & \\multicolumn{2}{c|}{\\# Nodes} \\\\  \
        \n \t {} & {} & Mobile  & Stationary & Mobile & Stationary \\\\")
print("\\midrule")

print("\t\multirow{4}{*}{Norway} & 1 & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'NO_1']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'NO_1']['measurement_id'].count(),
        len(set(df_no_mobile[df_no_mobile['operator'] == 'NO_1']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'NO_1']['node_id'])))
        )
print("\t\t  & 2 & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'NO_2']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'NO_2']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'NO_2']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'NO_2']['node_id'])))
        )
print("\t\t  & 3 & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'NO_3']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'NO_3']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'NO_3']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'NO_3']['node_id'])))
        )
print("\t\t  & Roaming & %d & %d & %d & %d \\\\ " \
      %(df_no_mobile[df_no_mobile['operator'] == 'NO_r']['measurement_id'].count(),
        df_no_stationary[df_no_stationary['operator'] == 'NO_r']['measurement_id'].count(),
       len(set(df_no_mobile[df_no_mobile['operator'] == 'NO_r']['node_id'])),
        len(set(df_no_stationary[df_no_stationary['operator'] == 'NO_r']['node_id'])))
        )

print("\\midrule")
print("\t\multirow{3}{*}{Sweden} & 1 & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == 'SE_1']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == 'SE_1']['measurement_id'].count(),
       len(set(df_se_mobile[df_se_mobile['operator'] == 'SE_1']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == 'SE_1']['node_id'])))
        )
print("\t\t  & 2 & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == 'SE_2']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == 'SE_2']['measurement_id'].count(),
        len(set(df_se_mobile[df_se_mobile['operator'] == 'SE_2']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == 'SE_2']['node_id'])))
        )
print("\t\t  & 3 & %d & %d & %d & %d \\\\ " \
      %(df_se_mobile[df_se_mobile['operator'] == 'SE_3']['measurement_id'].count(),
        df_se_stationary[df_se_stationary['operator'] == 'SE_3']['measurement_id'].count(),
        len(set(df_se_mobile[df_se_mobile['operator'] == 'SE_3']['node_id'])),
        len(set(df_se_stationary[df_se_stationary['operator'] == 'SE_3']['node_id'])))
        )

\toprule
 	 \multicolumn{1}{c|}{Country} & \multicolumn{1}{c|}{Operator}         &
 	 \multicolumn{2}{c|}{\# Measurements} & \multicolumn{2}{c|}{\# Nodes} \\
 	 {} & {} & Mobile  & Stationary & Mobile & Stationary \\
\midrule
	\multirow{4}{*}{Norway} & 1 & 712 & 1864 & 14 & 8 \\
		  & 2 & 2580 & 1812 & 21 & 10 \\
		  & 3 & 2492 & 1638 & 20 & 9 \\
		  & Roaming & 0 & 0 & 0 & 0 \\
\midrule
	\multirow{3}{*}{Sweden} & 1 & 149 & 2304 & 12 & 19 \\
		  & 2 & 278 & 1693 & 16 & 14 \\
		  & 3 & 72 & 1820 & 12 & 18 \\